<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>
        <img src="imagens/GENERATION (1).svg" alt="EcoGeneration Logo" class="logo">
     
      </header>
  <main>
    <section class="login-card">
      
    <p class="p">Entrar</p>
      <form action="/login" method="POST">
        <fieldset>
          <legend>Acesso</legend>

          <label for="email"></label>
          <input type="email" id="email" name="email" placeholder="Digite seu e-mail" value="<%= formData.email ? formData.email : '' %>">

          <label for="password"></label>
          <input type="password" id="password" name="password" placeholder="Digite sua senha">

          <% if (errors && errors.length > 0) { %>
            <ul class="error-list">
              <% errors.forEach(function(error) { %>
                <li class="error-msg"><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>

          <button type="submit">Entrar</button>
        </fieldset>
      </form>

      <footer class="extra">
        <p>Não tem conta? <a href="/cadastro">Cadastre-se</a></p>
      </footer>
    </section>
  </main>

  <footer class="main-footer">
    <p>© 2025 EcoGeneration – Energia sustentável para todos</p>
  </footer>
</body>
</html>